<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Services and Filters</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body ng-app="toDoList">
    <div ng-controller="todoCtrl">

      <h1> What do you need done? </h1>
      <input type="text" placeholder="Lets get doing" ng-model="userItem"/>
      <input type="button" value="Enter" ng-click="addItem()" />

      <ul>
        <li ng-repeat="x in item track by $index">
          <span ng-class="{'itemDone': x.status == 'done'}" ng-click=toggleDone($index)>{{x.text}}</span>
           <span><input type="button" value="Delete" ng-click="toRemove($index)"/></span>
        </li>
      </ul>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="todoService.js"></script>
    <script src="todoCtrl.js"></script>

  </body>

</html>
